# Binários compilados
*.exe
*.exe~
*.dll
*.so
*.dylib

# Arquivos de teste
*.test

# Arquivos de cobertura de teste
*.out
coverage/

# Dependências
vendor/

# IDEs e editores
.idea/
.vscode/
*.swp
*.swo

# Sistema operacional
.DS_Store
.env

# Arquivos de log
*.log

# Binário da aplicação
/api
/tmp

.cursorrules
API.png

# Docker
.docker/
docker-compose.override.yml 